main {
    padding: 2rem;
}

.testimonial {
    font-size: 1rem;
    margin: 3rem;
}

.testimonial:first-of-type {
    margin-top: 4rem;
}

.testimonial--img--container {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.testimonial--info {
    text-align: right;
    padding: 1rem;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
}

#costumer2.testimonial {
    text-align: right;
}

.testimonial--name {
    color: #1565c0;
    margin: 3px;
}

.testimonial--subtitle {
    margin: 0;
    font-size: 1rem;
    color: #757575;
}

.testimonial--text {
    margin: 3px;
    color: #212121;
}

.costumer-img {
    width: 100%;
    vertical-align: top;
}