#overview {
    width: 100%;
    height: 30vh;
    background: url(../images/Wallpaper.jpg) center/cover no-repeat scroll;
}

@media(min-width:40rem) {
    #overview {
        height: 50vh;
    }
}

.section-title {
    color: #1565c0;
    text-align: center;
}

.plan-list {
    width: 65%;
    margin: auto;
}

.plan {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem;
    text-align: center;
    color: #424242;
    box-shadow: 0 0 1.5rem 5px rgba(0, 0, 0, 0.7);
    direction: rtl;
    border-radius: 8px;
    z-index: 0;
}

.plan--hilighted {
    background: #bbdefb;
    color: #1565c0;
    transform: scale(1.2, 1.1);
}

.plan--hilighted--title {
    background: #ffffff;
    padding: 0.5rem;
    border-radius: 8px;
}

.plan-features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan-feature {
    margin: 0.5rem 0;
}

.plan-btn {
    background: #1565c0;
    color: #e3f2fd;
    font: inherit;
    border: none;
    padding: 4px 1rem;
    border-radius: 4px;
    font-weight: bold;
}

@media (min-width:40rem) {
    .plan {
        display: inline-block;
        vertical-align: middle;
        width: 30%;
    }
}

#features {
    background: #e3f2fd;
    padding: 1rem;
    margin-top: 5rem;
}

#features .section-title {
    margin: 3rem;
}

.features-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.features-img {
    background: #bbdefb;
    width: 8rem;
    height: 8rem;
    border: 1px solid #42f5f5;
    border-radius: 50%;
    margin: auto;
}

.features-description {
    text-align: center;
    color: #1976d2;
    font-size: 1rem;
    font-weight: bold;
}

@media(min-width:40rem) {
    .features-list--element {
        display: inline-block;
        width: 30%;
    }
}

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: #c0bbd1;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.7);
}

.modal--title {
    text-align: center;
    margin: 0 0 1rem 0;
}

.modal-actions {
    text-align: center;
}

.modal-action {
    border: 1px solid #1565c0;
    background: #1565c0;
    text-decoration: none;
    color: #ffffff;
    font-weight: inherit;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-size: 1rem;
}

.modal-action--negetive {
    background: #d81b60;
    border: 1px solid #d81b60;
    padding: 0.6rem;
}